<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="stylesheets/contactUs.css">
    <link rel='stylesheet' href='stylesheets/navfoot.css' />
</head>
<body>
  <!-- NAVIGATION BAR -->
  <%- include('partials/nav.ejs', { activePage: 'home' }); %>
        
  <!-- MAIN CONTENT --> 
  <main>
    <div class="container">
         <div class="header">
           <h1>Submit a Request</h1>
         </div>
        <div class="left-section">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter your name">

            <label for="email">Email Address (required)</label>
            <input type="text" id="email" placeholder="Enter your email">

            <label for="subject">Subject</label>
            <input type="text" id="subject" placeholder="Enter subject">

            <label for="reason">Reason for Contact (required)</label>
            <select id="reason">
                <option value="" disabled selected>Select an option</option>
                <option value="category1">I will adopt a pet</option>
                <option value="category2">I have a question about the shelter</option>
                <option value="category3">I have a feedback about the page</option>
            </select>

            <label for="description">Description (required)</label>
            <textarea id="description" rows="4" placeholder="Describe your request"></textarea>
            
              <p class="info-text">Please share your request details, and one of our support staff will reach out to you as soon as possible.</p>
            
            <label for="attachment">Attachment</label>
            <input type="file" id="attachment">

            <button type="submit">Submit</button>
        </div>

        <div class="center-text">
            <p>OR</p>
        </div>

        <div class="right-section">
            <h2>Reach Us</h2>

            <h3>Social Media Accounts</h3>
            <p>Facebook: Petfriend PH</p>
            <p>Instagram: @petfriend.ph </p>

            <h3>Contacts</h3>
            <p>Email us at Petfriend@gmail.com</p>
            <p>Call us at 0927-456-7890</p>
        </div>
    </div>
</main>
  
    <!-- FOOTER -->
    <%- include('partials/foot.ejs'); %>

  <script src="javascripts/nav.js"></script>
  </header>
</body>
</html>