<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/admin/mainAdminCss.css">
    <link rel="stylesheet" type="text/css" href="/admin/adminLandingCss.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Admin - Pet-Friend</title>
</head>
<body>
    <!-- NAVIGATION BAR -->
    <%- include('adminPartials/adminNav.ejs', { activePage: 'home' }); %>
    
    <main>
      <h1 style="margin-left: 40%; color: #20A98C;">Welcome Admin!</h1>
        <div class="chartContainer">
            <div class="chart">
              <h1>Species Distribution</h1>
              <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            </div>
                                    
            <div class="chart">
                <h1>Adoption Status</h1>
                <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
            </div>
            
            <div class="chart">
                <h1>Age Distribution</h1>
                <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
            </div>
        </div>
        <br>
        <br>
        
        <div class="button2Container">
            <button id="button2" onclick="location.href='http://localhost:3000/admin/adminTable'">View Database Tables</button>
        </div>
        

        
    </main>
    <!-- Add this at the end of the <body> tag -->
    <script src="/javascripts/auth.js"></script>
    <script>
        // This will run when the page is loaded
        checkLoginStatusAndRedirect();
    </script>
    <script>
      const speciesData = {
        labels: ["Dog", "Cat", "Other"],
        values: <%= JSON.stringify(speciesData.values) %>
      };

      const adoptionStatusData = {
        labels: ["Adopted", "Not Adopted"],
        values: <%= JSON.stringify(adoptionStatusData.values) %>
      };

      const ageDistributionData = {
        labels: ["Young", "Adult", "Elder"],
        values: <%= JSON.stringify(ageDistributionData.values) %>
      };
    
      const ctx = document.getElementById("myChart").getContext("2d");
      const ctx1 = document.getElementById("myChart1").getContext("2d");
      const ctx2 = document.getElementById("myChart2").getContext("2d");
    
      new Chart(ctx, {
        type: "pie",
        data: {
          labels: speciesData.labels, // Use the correct labels
          datasets: [{
            backgroundColor: ["blue", "red", "green"],
            data: speciesData.values // Use the correct data
          }] 
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: "Species Distribution"
            }
          }
        }
      });

      new Chart(ctx1, {
        type: "pie",
        data: {
          labels: adoptionStatusData.labels, // Use the correct labels
          datasets: [{
            backgroundColor: ["red", "green"],
            data: adoptionStatusData.values // Use the correct data
          }] 
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: "Adoption Status"
            }
          }
        }
      });

      new Chart(ctx2, {
        type: "pie",
        data: {
          labels: ageDistributionData.labels, // Use the correct labels
          datasets: [{
            backgroundColor: ["red", "green", "Yellow"],
            data: ageDistributionData.values // Use the correct data
          }] 
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: "Adoption Status"
            }
          }
        }
      });
    </script>

    


    

</body>
</html>