<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/admin/mainAdminCss.css">
    <link rel="stylesheet" type="text/css" href="/admin/adminDeleteCss.css">
    <title>Admin - Delete Page</title>
</head>

<body>
    <!-- NAVIGATION BAR -->
    <%- include('adminPartials/adminNav.ejs', { activePage: 'home' }); %>
    <main>
        <h1 style="margin-left: 38%; color: #20A98C;">Delete Pet Record</h1>
        <div class="deleteContainer">
            <h2>Delete Confirmation</h2>
            <p style="text-align: center;">Do you wish to permanently delete <%= animal_name %>'s information from the Database?</p>
            <form action="/admin/adminDelete" method="POST">
				<input type="hidden" name="animal_id" value="<%= animal_id %>">
				<input type="hidden" name="method" value="DELETE">
                <div class="buttonsContainer">
			    	<input class="buttonDelete" type="submit" value="Yes, Delete">
                    <a href="http://localhost:3000/admin/adminTable" class="buttonCancel">Cancel</a>
                </div>
			</form>
        </div>
    </main>
    <!-- Add this at the end of the <body> tag -->
    <script src="/javascripts/auth.js"></script>
    <script>
      // This will run when the page is loaded
      checkLoginStatusAndRedirect();
    </script>
</body>
</html>