<link rel='stylesheet' href='stylesheets/navfoot.css' />

<footer>
  <a href="/" class="logo">Pet-Friend</a>
  <div class="footer-items">
      <div>
          <p>About us</p>
          <div class="footer-links">
              <a href="/aboutUs#our-team">Team</a>
              <a href="#">Partnership</a>
              <a href="#">Terms of service</a>
          </div>
      </div>
      <div>
          <p>Pet adoption</p>
          <div class="footer-links">
              <a href="/adoptGrid">Dog adoption</a>
              <a href="/adoptGrid">Cat adoption</a>
              <a href="/adoptGrid">Other animals adoption</a>
          </div>
      </div>
      <div>
          <p>Social media</p>
          <div class="footer-links">
              <a href="#">Facebook</a>
              <a href="#">Twitter</a>
              <a href="#">Instagram</a>
          </div>
      </div>
  </div>
  <hr>
  <p>&copy; 2024 Pet-Friend Shelter.<br>All rights reserved.</p>
</footer>