.chartContainer{
    display:flex;
    justify-content: space-around;
    margin: 20px 0;
    height: 400px;
    gap: 20px;
    
}
.chart{
    width:30%;
    position:relative;
    border: 5px solid #F1F1F1;
    background-color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

canvas{
    display:block;
    max-width: 100%;
    height: auto;
}

#button2{
        margin-top:30px;
        background-color: #2E2E2E;
        font-family: Arial;
        color: #FFFFFF; 
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.button2Container{
    display:flex;
    justify-content: center;
    align-items: center;
}
